<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1">
    <display-name>ServletSimple</display-name>
    <description>Practica 3 sint</description>
    <servlet>
        <servlet-name>Sint13P2</servlet-name>
        <servlet-class>Sint13P2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sint13P2</servlet-name>
        <url-pattern>/IM2</url-pattern>
    </servlet-mapping>
</web-app>